@use "../settings" as *;

.header-container {
  @include container;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 50px;

  @include mobile {
    margin-top: 27px;
    margin-bottom: 20px;
  }

  .nav-container {
    display: flex;
    gap: 57px;
    align-items: center;
    @include mobile {
      gap: 26px;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 1.5rem;

      @include mobile {
        font-size: 0.75rem;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.header-logo {
  color: $primary-color;

  @include mobile {
    width: 145px;
    height: 46.88px;
  }
}
