@use "../settings" as *;

.header-container {
  display: flex;
  justify-content: space-between;
  @include container;
  margin: 50px auto;

  .nav-container {
    display: flex;
    gap: 57px;
    align-items: center;

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 1.5rem;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.header-logo {
  color: $primary-color;
}
