@use "../settings" as *;

.logements-list {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;

  @include mobile {
    padding: 0 20px;
    margin-bottom: 20px;
    background: none;
    grid-template-columns: (1fr);
    gap: 22px;
  }
}
