@use "../settings" as *;
.logement-container {
  @include container;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  @include mobile {
    flex-direction: column;
  }

  .left-container {
    h1 {
      font-size: 2.25rem;
      font-weight: 500;
      color: $primary-color;
      line-height: $line-height-base;

      @include mobile {
        font-size: 1.125rem;
      }
    }
    p {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: $line-height-base;
      margin-bottom: 20px;
      @include mobile {
        font-size: 0.875rem;
      }
    }
    ul {
      display: flex;
      gap: 10px;
      @include mobile {
        margin-bottom: 20px;
      }
    }
    li {
      list-style: none;
      background-color: $primary-color;
      border-radius: 10px;
      padding: 5px 30px;
      color: white;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: $line-height-base;
      text-align: center;

      @include mobile {
        font-size: 0.625rem;
        padding: 5px 10px;
      }
    }
  }
  .right-container {
    @include mobile {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 120px;
    }
    .host-container {
      display: flex;
      gap: 10px;
      align-items: center;
      @include mobile {
        align-items: center;
      }
    }

    p {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: $line-height-base;
      text-align: right;
      color: $primary-color;
      @include mobile {
        font-size: 0.75rem;
      }
    }
    .host-picture {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      @include mobile {
        width: 32px;
        height: 32px;
      }
    }
    div.host-picture {
      background-color: #c4c4c4;
    }
    .rating-container {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      @include mobile {
        gap: 8px;
      }

      svg {
        @include mobile {
          width: 13px;
          height: 13px;
        }
      }

      .filled {
        color: $primary-color;
      }
      .empty {
        color: #e3e3e3;
      }
    }
  }
}
