@font-face {
  font-family: "montserra";
  src: url("../font/Montserrat-VariableFont_wght.ttf");
  font-weight: 100, 900;
  font-display: swap;
}

@mixin container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;

  @include mobile {
    padding: 0 20px;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserra", sans-serif;
}

$primary-color: #ff6060;
$breakpoint-mobile: 768px;
