@font-face {
  font-family: "montserrat";
  src: url("../font/Montserrat-VariableFont_wght.ttf");
  font-weight: 100, 900;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

.logements-list {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
@media (max-width: 768px) {
  .logements-list {
    padding: 0 20px;
    margin-bottom: 20px;
    background: none;
    grid-template-columns: 1fr;
    gap: 22px;
  }
}

.section-collapse {
  max-width: 1023px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section-collapse {
    padding: 0 20px;
  }
}

.logement-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .logement-container {
    padding: 0 20px;
  }
}

.error-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .error-container {
    padding: 0 20px;
  }
}
.error-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error-container h1 {
  font-size: 18rem;
  color: #ff6060;
  font-weight: 700;
  line-height: 143%;
  margin-bottom: 139px;
}
@media (max-width: 768px) {
  .error-container h1 {
    font-size: 6rem;
    margin-bottom: 113px;
  }
}
.error-container p {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 143%;
  margin-bottom: 139px;
  color: #ff6060;
}
.error-container p .mobile-break {
  display: none;
}
@media (max-width: 768px) {
  .error-container p {
    font-size: 1.125rem;
    margin-bottom: 113px;
    max-width: 260px;
    height: 52px;
    text-align: center;
    vertical-align: bottom;
  }
  .error-container p .mobile-break {
    display: inline;
  }
}
.error-container a {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 143%;
  text-decoration: underline;
  color: #000;
}
@media (max-width: 768px) {
  .error-container a {
    font-size: 0.875rem;
  }
}

.header-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .header-container {
    padding: 0 20px;
  }
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .header-container {
    margin-top: 27px;
    margin-bottom: 20px;
  }
}
.header-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header-container .nav-container {
    gap: 26px;
  }
}
.header-container .nav-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .header-container .nav-container a {
    font-size: 0.75rem;
  }
}
.header-container .nav-container a.active {
  text-decoration: underline;
}

.header-logo {
  color: #ff6060;
}
@media (max-width: 768px) {
  .header-logo {
    width: 145px;
    height: 46.88px;
  }
}

.footer-container {
  width: 100%;
  height: 209px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: auto;
}
.footer-container .footer-logo {
  color: white;
  width: 145px;
  height: 46.88px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .footer-container .footer-logo {
    width: 122px;
    height: 39.44px;
    margin-bottom: 5px;
  }
}
.footer-container p {
  font-size: 1.5rem;
  color: white;
  line-height: 143%;
}
@media (max-width: 768px) {
  .footer-container p {
    font-size: 0.75rem;
    width: 133.59px;
    padding: 0 15px;
  }
}

.banner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .banner {
    padding: 0 20px;
  }
}
.banner {
  margin-bottom: 50px;
  position: relative;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .banner {
    margin-bottom: 22px;
    border-radius: 10px;
  }
}
.banner .banner-clip {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .banner .banner-clip {
    border-radius: 10px;
  }
}
.banner img {
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (max-width: 768px) {
  .banner img {
    height: 111px;
  }
}
.banner .banner-overlay {
  position: absolute;
  inset: 0;
  border: 1px solid black;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .banner .banner-overlay {
    border-radius: 10px;
  }
}
.banner h1 {
  position: absolute;
  width: 733px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 143%;
}
@media (max-width: 768px) {
  .banner h1 {
    top: 31px;
    left: 16px;
    right: 75px;
    width: 225px;
    height: 48px;
    -webkit-transform: none;
            transform: none;
    text-align: left;
    font-size: 1.5rem;
    line-height: 100%;
  }
}

.card {
  position: relative;
  aspect-ratio: 1/1;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.card .card-overlay {
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0.25)), to(rgb(0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 75%, rgb(0, 0, 0) 100%);
}
.card h2 {
  width: 75%;
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #fff;
  margin: 0;
  line-height: 143%;
  font-size: 18px;
}

.collapse {
  margin-bottom: 30px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .collapse {
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
.collapse.open .collapse-header {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.collapse.open .collapse-content {
  grid-template-rows: 1fr;
}
.collapse.open svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.collapse.open p {
  padding: 10px 20px;
}

.collapse-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #ff6060;
  color: white;
  border-radius: inherit;
  padding: 10px 20px 10px 15px;
}
@media (max-width: 768px) {
  .collapse-header {
    height: 30px;
    padding: 10px;
  }
}
.collapse-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 143%;
}
@media (max-width: 768px) {
  .collapse-header h2 {
    font-size: 13px;
  }
}
.collapse-header svg {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 768px) {
  .collapse-header svg {
    width: 16px;
  }
}

.collapse-content {
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: grid-template-rows 0.3s ease;
  transition: grid-template-rows 0.3s ease;
  transition: grid-template-rows 0.3s ease, -ms-grid-rows 0.3s ease;
  background: #fbfbfb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.collapse-content p {
  overflow: hidden;
  padding: 0 20px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 143%;
}
@media (max-width: 768px) {
  .collapse-content p {
    font-size: 0.75rem;
  }
}

.slideshow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slideshow img {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
  border-radius: 25px;
}
.slideshow .slideshow-counter {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 44.95px;
  left: 50%;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
}
.slideshow svg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slideshow svg:first-of-type {
  left: 0;
}
.slideshow svg:last-of-type {
  right: 0;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}/*# sourceMappingURL=main.css.map */